.post {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  grid-template-rows: auto;
  height: auto;
  gap: 2em;
}

.postwrapper {
  position: relative;
  min-width: 300px;
  box-shadow: 0 8px 40px $shadow-color;
}

.postwrapper h3,
.postwrapper p {
  padding: 0 1em;
}

.postwrapper h3 {
  margin-top: 1em;
}

.postwrapper,
.postwrapper img {
  border-top-right-radius: 5em;
  border-top-left-radius: 1em;
}
