@media (max-width:767px) {
  .header {
    flex-direction: column;
  }

  body {
    padding: 0;
  }

  .fa-bars,
  .fa-times {
    color: $accent-color;
  }

  img {
    max-width: 100%;
  }

  .post {
    grid-template-columns: auto !important;
  }

  .postwrapper {
    width: 300px;
  }

  .tech {
    grid-template-columns: auto !important;
    grid-template-rows: auto !important;
  }
  .cars {
    grid-template-columns: 300px !important;
    grid-template-rows: auto !important;
  }
  .f1, .lights, .orange, .darkcar, .rightside, .redcar, .mustang, .videoiframe {
    grid-column-start: 1 !important;
  }
  .videoiframe {
    width:300px;
    height:auto;
  }
  .rightside {
    grid-row-start: 2 !important;
  }
  .redcar {
    grid-row-start: 3 !important;
  }
  .orange {
    grid-row-start: 4 !important;
  }
  .darkcar {
    grid-row-start: 5 !important;
  }
  .lights {
    grid-row-start: 6 !important;
    grid-row-end: 7 !important;
  }
  .f1 {
    grid-row-start: 7 !important;
  }
  .videoiframe {
    grid-row-start: 8 !important;
  }
  .mustang {
    grid-row-start: 1 !important;
  }


  .techwrapper {
    grid-column-start: 1 !important;
    grid-column-end: auto !important;
    width: auto !important;
    grid-row-start: auto !important;
  }

  .links {
    max-width: 20% !important;

    &.links a {
      font-size: 0.8em;
    }
  }
  .screenshot {
    width:360px;
    height:auto;
  }
}
