@import '../../shared/fontawesome/scss/fontawesome';
$fa-font-path: '../../shared/fontawesome/webfonts';
@import '../../shared/fontawesome/scss/brands';
@import '../../shared/fontawesome/scss/solid';
@import '../../shared/fontawesome/scss/regular';
@import '../../node_modules/normalize.css/normalize';
@import 'variables-dark';

@import 'blockquotes';
@import 'code';
@import 'responsive';
@import 'blogg';
@import 'tech';
@import 'table';



@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
  margin: 0 0 0.2em;
}

body {
  background-color: $background-color;
}

* {
  color: $font-color;
}

a {
  font-size: 1.2em;
  color: $link-color;

  &:hover {
    color: $hover-color;
  }
}

.nav a {
  color: $accent-color;

  &:hover {
    color: $hover-color;
  }
}

dt {
  font-size: 1.2em;
}

p,
dd {
  font-size: 1em;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  margin: 0 0 2em;
}
img {
    border-radius: 20px;
  }
code {
    background: #000;
}
pre {
    background: #000;
}
.footer, .header {
    box-shadow: 0 0 10px $shadow-color;
}
.screenshot {
  width:1024px;
  height:auto;
}