$font-color: #F8E2F4;
$font-alternative-color: #F8E2F4;
$accent-color: #E7B5DF;
$background-color: #2B2B2B;
$background-alternative-color: #20151E;
$background-alternative-color-two: #20151E;
$link-color: #E7B5DF;
$hover-color: #963787;
$shadow-color: #34002B;
