$font-color: #33002A;
$font-alternative-color: #4F0C44;
$accent-color: #4F0C44;
$background-color: #FAF5F9;
$background-alternative-color: #FAF5F9;
$background-alternative-color-two: #DBD7DB;
$link-color: #7A276D;
$hover-color: #CF88C3;
$shadow-color: #A29FA2;
