$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ffff02;
$background-color: #f8f4f1;
$background-alternative-color: #19140a;
$background-alternative-color-two: #ff8102;
$link-color: #ce0b0b;
$hover-color: #ff0202;
$shadow-color: #19140a3f;
