        {% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

    <div class="main aside" role="main">
    <div class="links">
        {% for page in pages("technology")|sort_by("time") %}
            <a href="{{ page.url }}">{{ page.title }}</a>
        {% endfor %}
    </div>
    <div class="asidecontent">
        {{ content }}
    </div>

    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>      
